@import "tailwindcss";
@plugin "@midudev/tailwind-animations";


:root {
  font-family: 'JetBrains Mono Variable', monospace,system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}